:root {
    /* primary */

    /* text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* neutral */

    /* text */
    --very-dark-grayish-blue: rgb(74, 75, 94);
    --dark-grayish-blue: hsl(240, 6%, 50%);


    /* dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);

    font-size: 100%;

    font-family: 'Kumbh Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


html {
    height: 100%;
    line-height: 1.15;
    margin: 0;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

body {
    background: linear-gradient(45deg, var(--soft-blue), var(--soft-violet));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Kumbh Sans', serif;
}

details {
    padding: 0.5em 0;
    font-size: 0.9rem;
}


details summary {
    cursor: pointer;
    padding: .5rem 0;
    border-bottom: 0.1px solid rgba(74, 75, 94, 0.3);
    position: relative;
    list-style: none;
}

details summary>* {
    display: inline-block;
}



details summary::after {
    content: url("./images/icon-arrow-down.svg");
    position: absolute;
    font-size: 2rem;
    line-height: 0;
    margin-top: .75rem;
    top: 0%;
    right: 0;
}

details[open] summary::after {
    content: url("./images/icon-arrow-down.svg");
    rotate: 180deg;

    transition: rotate 0.8s ease-in-out;
}

main {
    background-color: white;
    margin: 50vmin 2em .5em 2em;
    border-radius: 1rem;

    padding-bottom: 2em;
}

.img-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    position: relative;

}


.main-img {
    position: absolute;
    transform: translateY(-8%);
    width: 80%;
}



.arrow-img {
    position: absolute;
    top: 20%;
    width: inherit;
}

article {
    margin-top: 8em;
}

.article-container {
    padding: 0.8em 1.25em 1em;
}



.img-container-desktop {
    display: none;
}

details[open] summary {
    font-weight: 700;
}

@media (min-width:600px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20vh auto 0 auto;
        width: min(90%, 900px);
    }

    .main-image {
        grid-template-columns: 1/2;
        align-self: center;
    }

    .img-container-mobile {
        display: none;
    }

    .img-container-desktop {
        position: relative;
        display: block;
    }

    .main-image-desktop {
        position: relative;
        right: 10%;
    }

    .img-container-desktop>.bg-pattern-desktop {
        scale: 1.75;
        bottom: 0%;
        position: absolute;
        right: 50%;
        animation: slidein .8s ease-in-out;
    }

    .img-container-desktop>.email-box-desktop {
        position: absolute;
        scale: 0.45;
        top: 5px;
        right: 50%;

        animation: fromtop-fallin 1s ease-in-out;
    }

    .arrow-img {}

    article {
        margin-top: 1em;
    }
}

details[open] summary~* {
    animation: slidein .8s ease-in-out;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromtop-fallin {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    50% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    margin-top: 1em;
    font-size: clamp(0.9rem, 0.9rem+0.9vw, 1.125rem);

    animation: slidein .8s ease-in-out;
}

footer a {
    color: rgb(49, 49, 49);

    font-weight: bold;
}

.attribution {
    text-align: center;
}

.attribution a:hover {
    color: var(--very-dark-desaturated-blue);


}